<!DOCTYPE html>
<html>
<head>
    <title>관리자 페이지</title>
</head>
<body>
<h2>비밀번호 수정하기</h2>
<a href="/admin/">돌아가기</a><br>
<hr>
<form method="POST" action="/admin/password/<%= id %>/modify">
    비밀번호: <input type="text" name="password1"><br>
    비밀번호 확인: <input type="text" name="password2"><br>
    <input type="submit" value="전송">
</form>
</body>
</html>